// Place all the styles related to the Distributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#googlemap {
	height: 450px;
}

#floating-panel {
        background-color: #fff;
        padding: 5px;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
}

.hidden-routes {
	display: none;
}

.editing-field {
	display: none;
}

.latitude-field {
	display: none;
}

.longitude-field {
	display: none;
}