<p>
	Routes covered by this distribution:
</p>

<br />
<div id="googlemap"></div>
<br />

<script type="text/javascript">	

	var map;

	function initMap() {

		var defaultZoom = 17;
		var defaultCenter = new google.maps.LatLng(53.8008, -1.5491);

		// Create map and add controls
		var mapOptions = {
			center: defaultCenter,
			zoom: defaultZoom,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: true,
			scaleControl: true
		};

		map = new google.maps.Map(document.getElementById('googlemap'), mapOptions);

		displayPaths();
	}

	// Fetches the paths from routes and displays them.
	function displayPaths() {
    	
		var routesHandle = document.getElementById("distribution-routes");
		console.log(routesHandle);
		var routes = JSON.parse(routesHandle.textContent);

		console.log(routes);
		// Now iterate through all the polylines and draw them on the map.
		for(var i = 0; i < routes.length; i++) {
			var newPath = [];
			for (var j = 0; j < routes[i].length; j++) {
				// routes[i][j] [[lat, lng], [lat2, lng2]...]
				newPath.push({ lat: routes[i][j][0], lng: routes[i][j][1] });
			}

			console.log(newPath);

			var poly = new google.maps.Polyline({
				path: newPath,
				strokeColor: '#FFFF00',
				strokeWeight: 10,
				strokeOpacity: 0.5,
				editable: false,
				clickable: false,
				zIndex: 5,
			});

			console.log(poly);
			poly.setMap(map);
		}
 
 	}
	

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHL2s9qdWZH4JXh0abnr9FJtAE_2A9GZQ&libraries=drawing&callback=initMap"
         async defer></script>

