<h1>Welcome to Eptah!</h1>

<br/>

<h3>What is it?</h3>

<p>Eptah is a web application built to help you keep track of door-to-door distributions.</p>

<h3>What does "eptah" mean?</h3>

<p>Eptah comes from the <a href="http://biblehub.com/hebrew/eftach_6605.htm">Hebrew word found in Ezekiel 3:27</a>. In the Recovery Version Bible, this verse reads: </p>

<blockquote>But when I speak with you, I will <strong><mark>open</mark></strong> your mouth, and you will say to them, Thus says the Lord Jehovah, Let him who hears hear, and let him who refuses refuse... Ezk 3:27a</blockquote>

<p>
Ezekiel 3:27
HEB: וּֽבְדַבְּרִ֤י אֽוֹתְךָ֙ אֶפְתַּ֣ח אֶת־ פִּ֔יךָ
NAS: But when I speak <mark>to you, I will open</mark> your mouth
KJV: with <mark>thee, I will open</mark> thy mouth,
INT: speak with <mark>will open</mark> your mouth will say
</p>

<p>Ezekiel in the Old Testament was a man to whom the heavens were opened. Whatever the Lord commanded him to speak, he spoke. May we also be such people today.</p>
