

<h1>My Cities</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.country %></td>
        <td><%= region.latitude %></td>
        <td><%= region.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

